<div class="password-form m-2">
  <div class="row mb-3">
    <div class="col">
      <h5 class="uppercase">reset password</h5>
    </div>
  </div>
  <div class="row m-2">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
      <div class="mb-1">
        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input matInput type="password" placeholder="Placeholder" formControlName="old_password">
        </mat-form-field>
        <app-field-error-display field="old_password"> </app-field-error-display>
      </div>
      <div class="mb-1">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="password" placeholder="Placeholder" formControlName="new_password">
        </mat-form-field>
        <app-field-error-display field="new_password"> </app-field-error-display>
      </div>
      <div class="mb-1">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" placeholder="Placeholder" formControlName="confirm_new_password">
        </mat-form-field>
        <app-field-error-display field="confirm_new_password"> </app-field-error-display>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn" type="button" (click)="close()">Cancel</button>
        <button class="btn primary" type="submit">Send
          <i *ngIf="loading" class="fa fa-spinner faa-spin animated"></i>
        </button>
      </div>
    </form>
  </div>
</div>
