@use '../../../../../styles/abstract/variables' as v;
@use '../../../../../styles/abstract/mixins' as m;
.img-card {
    overflow: unset;
    img {
        border-radius: v.$border-radius;
        height: 230px;
    }
    span {
        background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box !important;
        opacity: 60%;
        color: white !important;
        width: v.$full-width;
        margin: 0;
        padding: 1rem;
        border-radius: 0 0 v.$border-radius v.$border-radius;
    }
}

.img-card:hover:after {
    content: '\A';
    position: absolute;
    width: v.$full-width;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.185);
    transition: all 1s;
    -webkit-transition: all .5s;
    border-radius: v.$border-radius;
}

.custom-card-height {
    height: 100% !important;
    .card-category-image {
        height: 100% !important
    }
    .card-category-name {
        height: 50% !important;
        p {
            margin-top: 9rem !important;
        }
    }
}

::ng-deep.mat-ink-bar {
    background-color: unset !important;
    visibility: hidden !important;
}

::ng-deep.mat-tab-label.mat-tab-label-active {
    color: white !important;
    background-color: blue !important;
    border-radius: 12px !important;
    // height: 60px;
    // margin-top: -5px;
}

::ng-deep.mat-tab-body-content {
    overflow: hidden !important;
}

::ng-deep.mat-tab-header {
    height: 50px !important;
    border-radius: 12px !important;
    border: 1px black !important;
    box-shadow: 0px 0px 15px #00000012 !important;
}

// .scroll{
//   overflow-x: auto;
//   overflow-y: hidden;
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }
.d-flex {
    display: flex !important;
}

.close-icon {
    justify-content: flex-end;
    padding-right: 10px;
    svg {
        position: absolute;
        z-index: 1;
    }
}

.course-card {
    width: 100% !important;
    margin: 1rem 1rem !important;
    padding: 15px 15px !important;
    background: white !important;
}

 ::ng-deep.card-panel {
    bottom: 130px !important;
    @include m.for-phone {
        bottom: 145px !important;
    }
    @include m.for-tablet {
        bottom: 145px !important;
    }
    @include m.for-desktop {
        bottom: 145px !important;
    }
}

.top-img {
    img {
        margin-top: 1.5rem;
        @include m.for-phone {
            margin-top: 0;
        }
        @include m.for-tablet {
            margin-top: 0;
        }
        @include m.for-desktop {
            margin-top: 0;
        }
    }
}

.top-img,
.card-body,
.card-footer {
    justify-content: center !important;
}

.card-footer {
    border-top: none;
    padding-bottom: 1.5rem;
    @include m.for-phone {
        padding-bottom: 0;
    }
    @include m.for-tablet {
        padding-bottom: 1.5rem;
    }
    @include m.for-desktop {
        padding-bottom: 1rem;
    }
    .primary-btn {
        padding: .5rem 2rem .5rem 2rem !important;
        @include m.for-phone {
            padding: 5px 15px !important;
        }
        @include m.for-tablet {
            padding: 5px 5px !important;
        }
        @include m.for-desktop {
            padding: 15px 15px !important;
        }
    }
}

.card.course-card {
    cursor: initial;
    &::after {
        display: none;
    }
}

.card-description {
    left: 1rem;
    padding: 0;
}

.carousel .carousel-actions {
    display: flex;
    position: unset;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    top: 0;
    margin: auto;
}

.btn-floating {
    background: #4285f4;
}

::ng-deep .tab-content {
    border: unset !important;
}

::ng-deep .nav-tabs .nav-link {
    min-width: 150px !important;
    text-align: center
}

::ng-deep .nav-link.active {
    box-shadow: none !important;
    border-bottom: 2px solid var(--color) !important;
    transition: 0.3s ease;
    border-radius: unset;
    border: unset;
    color: white !important;
    background-color: blue !important;
    border-radius: 12px !important;
    span {
        color: #FFF !important;
    }
}

::ng-deep .nav-tabs {
    border: unset !important;
}

#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background: #fff;
}

.items {
    max-width: 300px;
    height: 300px;
    background: #ECECEC;
}

#left,
#right {
    margin: 30px;
}

.card-block {
    height: 401px;
}