* {
    text-align: center;
}

input {
    border-radius: 5px;
    // border: 1px solid #edeff7;
    // background-color: white;
}

// ::-webkit-inner-spin-button {
//     display: none;
// }
svg {
    width: 300px;
    height: 200px;
}

.shapeform {
    position: absolute;
    z-index: 1;
}

#plus {
    top: 0;
    left: 0;
    transform: translate(168px, 76px) rotate(5deg);
}

#plus2 {
    top: 0;
    right: 0;
    transform: translate(-225px, 300px) rotate(45deg);
}

#circle1 {
    transform: translate(145px, 300px);
}

#circle {
    width: 40px;
    height: 40px;
    border: 12px solid #edeff7;
    border-radius: 50%;
    background-color: white;
}

#cross {
    background: #edeff7;
    height: 25px;
    position: absolute;
    width: 5px;
    border-radius: 5px;
}

#cross:after {
    background: #edeff7;
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 25px;
    border-radius: 5px;
}

#traingle1 {
    top: 0;
    right: 0;
    transform: translate(-300px, 50px) rotate(-83deg);
}

#triangle-left {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 35px solid #edeff7;
}

#inner-triangle {
    position: relative;
    top: -20px;
    left: 10px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
}

#traingle2 {
    bottom: 0;
    right: 0;
    transform: translate(-350px, -42px) rotate(45deg);
}

#triangle-left2 {
    width: 0;
    height: 0;
    border-top: 17.5px solid transparent;
    border-bottom: 17.5px solid transparent;
    border-right: 17.5px solid #edeff7;
    border-radius: 25px;
}

#inner-triangle2 {
    position: relative;
    top: -10px;
    left: 6px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-radius: 25px;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}

.card {
    position: relative;
}

a {
    text-decoration: underline !important;
}