<div class="edit-subscription">
  <div class="row mb-3">
    <div class="col-md-3 mb-2 text-center">
      <div class="card px-5">
        <div class="m-3">
          <img class="contain" src="assets/vectors/new-subscription-vector.svg" width="150" height="90" />
        </div>
        <div>
          <h6 class="title-text uppercase m-1">subscription Title 4</h6>
          <p class="base-text o-8">Platinum</p>
          <p class="h3 primary weight-semibold">200$</p>
          <p class="base-text o-7">Per 3 Months</p>
        </div>
        <ul class="list mt-2">
          <li>60 students</li>
          <li>100 hours live</li>
        </ul>
        <a class="primary-btn large my-2 w-100" routerLink="/profile/edit-subscrition">Subscribe</a>
      </div>
    </div>
    <div class="col-md-3 mb-2 text-center">
      <div class="card px-5">
        <div class="m-3">
          <img class="contain" src="assets/vectors/new-subscription-vector.svg" width="150" height="90" />
        </div>
        <div>
          <h6 class="title-text uppercase m-1">subscription Title 3</h6>
          <p class="base-text o-8">Gold</p>
          <p class="h3 primary weight-semibold">150$</p>
          <p class="base-text o-7">Per 2 Months</p>
        </div>
        <ul class="list mt-2">
          <li>40 Students</li>
          <li>70 Hours live</li>
          <li>+(10) Hours Offer</li>
        </ul>
        <a class="primary-btn large my-2 w-100" routerLink="/profile/edit-subscrition">Subscribe</a>
      </div>
    </div>
    <div class="col-md-3 mb-2 text-center">
      <div class="card px-5">
        <div class="m-3">
          <img class="contain" src="assets/vectors/new-subscription-vector.svg" width="150" height="90" />
        </div>
        <div>
          <h6 class="title-text uppercase m-1">subscription Title 2</h6>
          <p class="base-text o-8">Silver</p>
          <p class="h3 primary weight-semibold">100$</p>
          <p class="base-text o-7">Per month</p>
        </div>
        <ul class="list mt-2">
          <li>25 Students</li>
          <li>50 Hours live</li>
          <li>+(10) Hours Offer</li>
        </ul>
        <a class="primary-btn large my-2 w-100" routerLink="/profile/edit-subscrition">Subscribe</a>
      </div>
    </div>
    <div class="col-md-3 mb-2 text-center">
      <div class="card px-5">
        <div class="m-3">
          <img class="contain" src="assets/vectors/new-subscription-vector.svg" width="150" height="90" />
        </div>
        <div>
          <h6 class="title-text uppercase m-1">subscription Title 1</h6>
          <p class="base-text o-8">Bronze</p>
          <p class="h3 primary weight-semibold">50$</p>
          <p class="base-text o-7">Per month</p>
        </div>
        <ul class="list mt-2">
          <li>10 Students</li>
          <li>20 Hours live</li>
        </ul>
        <a class="primary-btn large my-2 w-100" routerLink="/profile/edit-subscrition">Subscribe</a>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <h5 class="uppercase">Bundles</h5>
  </div>
  <div class="row pb-3">
    <div class="col-md-3 mb-2 text-center">
      <div class="card px-5">
        <div class="m-3">
          <img class="contain" src="assets/vectors/new-bundles-vector.svg" width="150" height="90" />
        </div>
        <div>
          <h6 class="title-text uppercase m-1">Bundle 1</h6>
          <p class="base-text o-8">+10 hours live</p>
          <p class="h3 primary weight-semibold">10$</p>
        </div>
        <a class="primary-btn large my-2 w-100" routerLink="/profile/edit-subscrition">Buy</a>
      </div>
    </div>
    <div class="col-md-3 mb-2 text-center">
      <div class="card px-5">
        <div class="m-3">
          <img class="contain" src="assets/vectors/new-bundles-vector.svg" width="150" height="90" />
        </div>
        <div>
          <h6 class="title-text uppercase m-1">Bundle 2</h6>
          <p class="base-text o-8">+25 hours live</p>
          <p class="h3 primary weight-semibold">20$</p>
        </div>
        <a class="primary-btn large my-2 w-100" routerLink="/profile/edit-subscrition">Buy</a>
      </div>
    </div>
    <div class="col-md-3 mb-2 text-center">
      <div class="card px-5">
        <div class="m-3">
          <img class="contain" src="assets/vectors/new-bundles-vector.svg" width="150" height="90" />
        </div>
        <div>
          <h6 class="title-text uppercase m-1">Bundle 3</h6>
          <p class="base-text o-8">+60 hours live</p>
          <p class="h3 primary weight-semibold">30$</p>
        </div>
        <a class="primary-btn large my-2 w-100" routerLink="/profile/edit-subscrition">Buy</a>
      </div>
    </div>
    <div class="col-md-3 mb-2 text-center">
      <div class="card px-5">
        <div class="m-3">
          <img class="contain" src="assets/vectors/new-bundles-vector.svg" width="150" height="90" />
        </div>
        <div>
          <h6 class="title-text uppercase m-1">Bundle 4</h6>
          <p class="base-text o-8">+75 hours live</p>
          <p class="h3 primary weight-semibold">50$</p>
        </div>
        <a class="primary-btn large my-2 w-100" routerLink="/profile/edit-subscrition">Buy</a>
      </div>
    </div>
  </div>
</div>
