<div class="edit-profile">
  <div class="card">
    <div class="row">
      <div class="col-md-3 text-center p-md-4">
        <div class="profile-img">
          <img *ngIf="!image" class="avatar" src="assets/images/default/default-profile.jpg" width="150" height="150" />
          <img *ngIf="image" class="avatar" [src]="image" width="150" height="150" />
          <!--  -->
          <i class="fa fa-spinner faa-spin animated" *ngIf="imgLoading"></i>
          <a class="" (click)="file.click()">
            <img src="assets/icons/camera-icon.svg" width="40" height="40" />
          </a>
        </div>
      </div>
      <div class="col-md-9 p-md-4">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
          <input hidden (change)="handleFileInput($event.target.files)" type="file" accept="image/*" #file>
          <div class="mb-3">
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input matInput placeholder="Placeholder" formControlName="full_name">
            </mat-form-field>
            <app-field-error-display field="full_name"> </app-field-error-display>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" type="email" formControlName="email">
            </mat-form-field>
            <app-field-error-display field="email"> </app-field-error-display>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-4">
                <form [formGroup]="countryFormGroup">
                  <mat-select-country appearance="outline" label="Country" [value]="selectedCountry"
                    showCallingCode="true" formControlName="country" (onCountrySelected)="onCountrySelected($event)">
                  </mat-select-country>

                </form>
              </div>
              <div class="col-8">
                <mat-form-field appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input matInput placeholder="Placeholder" type="number" formControlName="local_phone">
                </mat-form-field>
                <app-field-error-display field="email"> </app-field-error-display>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Birthday</mat-label>
                <input matInput placeholder="Placeholder" type="date" formControlName="birthday">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select [(value)]="selected" formControlName="gender">
                  <mat-option>None</mat-option>
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-md-3 pb-2">
              <button class="light-btn w-100 large" type="button" (click)="cancel(confirmCancel)">Cancel</button>
            </div>
            <div class="col-md-3 pb-2">
              <button class="primary-btn w-100 large" type="submit">Save
                <i *ngIf="loading" class="fa fa-spinner faa-spin animated"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ng-template #confirmCancel let-modal>
    <div class="modal-body">
      <div class="row m-2">
        <h6>Are you sure to ignore updates and cancel ?</h6>
        <div class="d-flex justify-content-end">
          <button class="base-text btn" type="button" (click)="close()">Cancel</button>
          <button class="base-text btn primary" type="button" (click)="ok()">Ok </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
