@use './../../../../../styles/abstract/variables' as *;
.progresses {
    position: relative;
    max-width: 70%;
    margin: auto
}

.progresses ul {
    list-style: none;
    padding: 0
}

.progresses ul li {
    border-radius: 50%;
    background-color: #f0f0f0;
    z-index: 200;
    position: relative;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    border: 5px solid white;
}

.progresses ul li.blue {
    color: $primary-color;
    background-color: $primary-color
}

.progresses ul li::after {
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 0.8rem;
    width: 155px
}

#step-0::after {
    content: "1.Sign Up"
}
#step-1::after {
  content: "2.Complete Information"
}
#step-2::after {
    content: "3.Add Course";
}

.progresses .progress {
    height: 0.8rem;
    width: 100%;
    top: 33px;
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 10px
}




// old active
.old-active {
    background-color: white!important;
    width: 5px!important;
    height: 5px!important;
    // margin-left: 3px;
    border: 3px solid white !important;
}

//not ative
.not-active {
    background-color: $primary-color!important;
    width: 5px!important;
    height: 5px!important;
    // margin-right: 3px;
    border: 3px solid $primary-color !important
}

//active now
.active-now {
    background-color: $primary-color!important;
    // margin-right: 3px;
}
.active-now::before{
  content: '';
   background-color: $primary-color;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: $primary-color;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: $primary-color;
}










// #form fieldset:not(:first-of-type) {
  //     display: none
  // }

  // #form .previous-step,
  // .next-step {
  //     width: 100px;
  //     font-weight: bold;
  //     color: white;
  //     border: 0 none;
  //     border-radius: 0px;
  //     cursor: pointer;
  //     padding: 10px 5px;
  //     margin: 10px 5px 10px 0px;
  //     float: right
  // }

  // .form,
  // .previous-step {
  //     background: #616161;
  // }

  // .form,
  // .next-step {
  //     background: $primary-color;
  // }

  // #form .previous-step:hover,
  // #form .previous-step:focus {
  //     background-color: #000000
  // }

  // #form .next-step:hover,
  // #form .next-step:focus {
  //     background-color: $primary-color;
  // }


  // #progressbar {
  //     margin-bottom: 30px;
  //     overflow: hidden;
  //     color: lightgrey
  // }

  // #progressbar .active {
  //     color: $primary-color
  // }

  // #progressbar li {
  //     list-style-type: none;
  //     font-size: 15px;
  //     width: 25%;
  //     float: left;
  //     position: relative;
  //     font-weight: 400
  // }

  // #progressbar #step1:before {
  //     content: "1"
  // }

  // #progressbar #step2:before {
  //     content: "2"
  // }

  // #progressbar #step3:before {
  //     content: "3"
  // }

  // #progressbar #step4:before {
  //     content: "4"
  // }

  // #progressbar li:before {
  //     width: 50px;
  //     height: 50px;
  //     line-height: 45px;
  //     display: block;
  //     font-size: 20px;
  //     color: #ffffff;
  //     background: lightgray;
  //     border-radius: 50%;
  //     margin: 0 auto 10px auto;
  //     padding: 2px;
  // }

  // #progressbar li:after {
  //     content: '';
  //     width: 100%;
  //     height: 2px;
  //     background: lightgray;
  //     position: absolute;
  //     left: 0;
  //     top: 25px;
  //     z-index: -1
  // }
