@use '../../../../../styles/abstract/variables' as *;

.img-card{
  overflow: unset;
  img{
    border-radius: $border-radius;
    height: 230px;
  }
  span{
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box !important;
    opacity: 60%;
    color: white !important;
    width: $full-width;
    margin: 0;
    padding: 1rem;
    border-radius: 0 0 $border-radius $border-radius;
  }
}

.img-card:hover:after {
  content: '\A';
  position: absolute;
  width: $full-width;
  height:100%;
  top:0;
  left:0;
  background:rgba(51, 51, 51, 0.185);
  transition: all 1s;
  -webkit-transition: all .5s;
  border-radius: $border-radius;
}
